// Standard extensions get all permissions by default
grant codeBase "file:${java.home}/lib/ext/*" {
        permission java.security.AllPermission;
};

grant{
	//Reading properties is standard, grant access to write to mouse and library path for lwjgl.
	permission java.util.PropertyPermission "*", "read";
	permission java.util.PropertyPermission "org.lwjgl.input.Mouse.allowNegativeMouseCoords", "write";
	permission java.util.PropertyPermission "org.lwjgl.librarypath", "write";
	
	//Required permissions for loading and running classes at runtime.
	permission java.lang.RuntimePermission "loadLibrary.*";
	permission java.lang.RuntimePermission "getenv.*", "read";
	permission java.lang.RuntimePermission "createClassLoader";
	permission java.lang.RuntimePermission "accessDeclaredMembers";
	permission java.lang.RuntimePermission "getProtectionDomain";
	permission java.lang.RuntimePermission "modifyThread";
	permission java.lang.RuntimePermission "accessClassInPackage.sun.reflect";

	//Groovy reflects
	permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
	
	//tmp location and libs permissions.
	permission java.io.FilePermission "${java.io.tmpdir}/-", "read,write,delete,execute";
	permission java.io.FilePermission "${user.home}${/}.libgdx/-", "read,write,delete";
	permission java.io.FilePermission ".temp/-", "read,write,delete,execute";	
	permission java.io.FilePermission "./-", "read,write,delete,execute";
	
	//Leikr directories, sandboxed 
	permission java.io.FilePermission "Programs/-", "read,write";
	permission java.io.FilePermission "Programs", "read";
	permission java.io.FilePermission "Data/-", "read,write";	
	permission java.io.FilePermission "Data", "read";	
};

//Leikr specific
grant codeBase "file:Leikr.jar"{	
	//Necessary to access XRANDR
	permission java.security.AllPermission;
};
